.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

h1 {
    text-align: center;
}

.grid-card {
    padding: 20px;
    border: 1px solid grey;
    width: 400px;
    border-radius: 10px;
    cursor: pointer;
}

.grid-card h2 {
    margin-bottom: 10px;
    text-align: center;
}



.grid-card:hover {
    background: linear-gradient(50deg, blue, green);
    color: white;
    transition: 0.5s;
    outline: auto;
    
}